@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* *{
    padding: 0;
    margin: 0;
} */

body{
    
    background-color: #000000;
    color: #f5f7f6;

    font-size: 16px;   
    font-weight: normal; 
    font-family: 'Roboto', sans-serif;
    /* font: normal 16px 'Roboto', sans-serif; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

a{
    color: #d8dbe2;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
a:active{
    color: rgb(255, 0, 0);
}

a:visited{
    color: rgb(236, 228, 228);
}

.avatar{
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(248, 245, 245, 0.986);
}

.info{
    display: flex;
    margin-bottom: 20px;
    /* opacity: 0.4; 
    transition: 0.2s; */
}

@media (max-width:700px){
    .info{ 
        text-align: center;
        display: block;
    }
}

.info-text:hover{
    margin-left: 40px;
     opacity: 0.4; 
    transition: 0.2s;
    
}

.info-text h4{
    margin-bottom: 10px;
}

.info p {
    color: #f4f1f5;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.4; 
    transition: 0.2s;
    
    /* text-transform: capitalize; */
    /* разделяет шрифты spacing */
    /* letter-spacing: 15px; */
    /* word-spacing: 20px; */
}

/* box model */
.container{
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
} 

/* .social{
background: green; */
/* padding: 15px; */
/* padding 15px 40px */
/* padding: 15px 20px 25px 30px; */
/* padding-top: 15px;
padding-right: 20px;
padding-bottom: 25px;
padding-left: 30px;
margin: 5px;

border: 5px solid red;
border-bottom-style:dotted;
border-top-width: 15px;
border-right-color:blue; */


/* } */

/* .box-model > div{
    float: left;
    background: #000;
    height: 200px;
    border: 4px solid red;
    width: 25%;
    box-sizing: border-box;
} */

.bg-yellow:hover{
    background: #1b1b1a;
    opacity: 0.4; 
    transition: 0.2s;
    display: inline-block;
	margin-left: 0.5em;
    
    
}
.bg-green:hover{
    background: #111111;
    opacity: 0.4; 
    transition: 0.2s;
    
}
.bg-red:hover{
    
    background: #0e0d0d;
    opacity: 0.4; 
    transition: 0.2s;
    
}

.card{
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.card h2{
    margin-bottom: 10px;
}

.list{
    padding: 0 20px;
}
.list li{
    color: #fdfdfd;
    margin-bottom: 10px;
    
}
.list li:nth-child(1):hover,
.list li:nth-child(2):hover,
.list li:nth-child(3):hover,
.list li:nth-child(4):hover{
    color: rgb(252, 250, 250);
    opacity: 0.4; 
    transition: 0.2s;
    
}

.table{
    width: 100%;
}
.table td{
    padding-bottom: 10px;
}
.table td:nth-child(2),
.table td:nth-child(3){
    color: #f0efef;
}

/* для чотной ODD EVEN не для четных
.table td:nth-child(odd){
    background-color: red;
} */

.link-list{
    list-style: none;
    padding: 0;
}
.link-list li{
    margin-bottom: 10px;
    padding-bottom:5px ;
    border-bottom: 1px solid #ccc;
}
.contact h2{
text-align: center;
}
.form-group label{
    display: block;
    font-size: 14px;
}
.form-group input,
.form-group textarea{
width: 100%;
box-sizing: border-box;
border: none;
background: transparent;
border-bottom: 1px solid #ccc;
color: #ccc;
padding: 15px 0 10px;
outline: none ;
font-family: inherit;
}

.row{
    display: flex;
    margin-bottom: 20px;
}

.row > .form-group{
    width: 50%;
}

.row > .info:hover:last-child{
    margin-right: 20px;
}

.btn{
    background: #020202ee;
    padding: 15px 20px;
    color: #b41ea8;
    border: none;
    font-family: inherit;
    cursor: pointer;

}

.btn:hover{
    opacity:0.4;
}

.intro{
    background:url(https://avatars.mds.yandex.net/get-altay/4432502/2a0000017c201d3f95901640a72a7a555f18/XXL);
    -webkit-background-size:cover;
    background-size: cover;
    
}

/* .position{
    position: relative;
    border: 4px solid rgb(8, 8, 8);
    margin-top: 40px;
    padding: 20px;
    height: 300px;
}

.box{
    display: transparent;
    position: fixed;
    background-color: rgb(5, 5, 5);
    top: 100px;
    right: 20px;
    width: 200px;
    height: 200px;
     
} */

